<% layout("layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <% if (process.env.NODE_ENV !== "production") { %>
                    <pre style="white-space: pre-wrap; word-break: break-word;"><%= err.stack %></pre>
                <% } %>
            </div>
        </div>
    </div>